<div class="login-container">

  <div class="login-card">

    <div class="icon-container">
      <i class="bi bi-cloud"></i>
    </div>

    <h1>ClimaTempo</h1>

    <p class="subtitle">
      Entre para consultar o clima em tempo real
    </p>

    <form>

      <div class="mb-4">
        <label class="form-label">Email</label>

        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-envelope"></i>
          </span>

          <input
            type="email"
            class="form-control"
            placeholder="seu@email.com">
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">Senha</label>

        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-lock"></i>
          </span>

          <input
            type="password"
            class="form-control"
            placeholder="********">
        </div>
      </div>

      <button class="btn btn-primary w-100 login-btn">
        Entrar
      </button>

    </form>

    <p class="register-link">
      Não tem uma conta?
      <a routerLink="/register">Cadastre-se</a>
    </p>

  </div>

</div>